* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins sans-serif;
}

body {
    background: #fff;
    color: #333;
}

/* Header */
header {
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #233d63;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: nome;
    color: #444;
    font-weight: 500;
}

nav a:hover {
    color: #458ff6;
}

/* Hero */
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1100px;
    margin: 60px auto;
}

.hero-content {
    flex: 1 1 400px;
}

.hero-content h2 {
    font-size: 2.5rem;
    color: #1f3e72;
}

.hero-content p {
    margin: 15px 0;
    color: #6c757d;
    max-width: 100%;
}

.btn {
    background: #458ff6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
}

.btn:hover {
    background: #3579e0;
}

/* Services */
.services {
    text-align: center;
    background: #f9fbfd;
    padding: 60px 0;
}

.services p {
    color: #6c757d;
    max-width: 600px;
    margin: 10px auto 40px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, )minmax(250px, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
}

.card {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.05);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/*Info */
.info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: 80px auto;
    gap: 30px;
}

.info-content {
    flex: 1 1 400px;
}

.info-content h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.btn-ouline {
    display: inline-block;
    border: 2px solid #458ff6;
    color: #458ff6;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 15px;
}

.btn-ouline:hover {
    background: #458ff6;
    color: #fff;
}

/*Articles */
.articles {
    text-align: center;
    padding: 60px 0;
}

.article-grid {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit)minmax(250px, 1fr);
    gap: 25px;
}

.article {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: 0.3s;
}

.article img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.article h4 {
    margin: 15px;
    color: #1f3e72;
}

.article p {
    margin: 0 155px 15px;
    color: #6c757d;
}

.article a {
    display: inline-block;
    margin: 0 15px 20px;
    color: #458ff6;
    text-decoration: none;
}

/* Footer */
footer {
    background: linear-gradient(90deg, #67c3f3, #458ff6);
    color: #fff;
    padding: 50px 0 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    gap: 30px;
}

.footer-logo {
    flex: 1 1 250px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    opacity: 0.9;
}

.footer-links a:hover {
    opacity: 1;
}

footer .copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}